* {
  font-family: "Roboto" , sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  background-color: rgb(3, 3, 41);
  width: 15rem;
  padding: 1.5rem;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

.main {
  flex-grow: 1;
  
 

}

.sidebar .description-header {
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.sidebar .header .logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  margin: 10px 0 22px 0;
}

.sidebar .main .list-item .description {
  font-size: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #fff;
}

.sidebar .main .list-item {
  background-color: 
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 10px;
  border-radius: 8px;
  box-sizing: border-box;
  transition: all ease-in .2s;
}

.sidebar .main .list-item:hover {
    background: #f90;
    transition: all ease-in .2s;
}

.aliceblue-text {
  color: aliceblue;
}

/* main section */
.description{
  padding: 1.4r;


}

/* Download button style */
.download-btn {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.download-btn:hover {
  background-color: #218838;
}

.main-content{
background-color: rgb(227, 222, 227);
font-size: 1rem;
}

h3{
  text-align: center;
  font-style: bold;
  
}



